* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: "Lobster", "Roboto";
  /* background-color: white; */
  background-color: black;
}

#container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* border: 1px solid beige; */
}

#svgContainer {
  position: relative;
}

#canvasContainer {
  position: absolute;
}

/* #container img {
  position: absolute;
  top: 0px;
  left: 0px;
} */
