body {
  text-align: center;
  font-family: "Lobster", "Roboto";
  background-color: black;
}

#container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#canvasContainer {
  position: absolute;
}

#svgContainer {
  position: relative;
}

#title {
  font-weight: 200;
  font-size: 38px;
  margin-top: 45px;
  margin-bottom: 0px;
  color: beige;
}

#subtitle {
  font-weight: 300;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 55px;
  color: #7a8d2d;
}

#chart {
  /* border: 1px solid beige; */
}
